RESEND_API_KEY=
APPLICATION_FROM_EMAIL=
APPLICATION_RECEIVER_EMAIL=info@agent-tech.ai
NEXT_PUBLIC_SITE_URL=https://www.agent-tech.ai
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
AGENTECH_ADMIN_DOMAIN=agent-tech.ai
AGENTECH_ADMIN_EMAILS=
